/*----------BODY-------------*/

body {
  background-color: white;
}

/*----------HEADER-------------*/
header {
  text-align: left;
  padding-left: 20%;
  background-color: white;

  height: 90px;
  margin-top: 20px;
  margin-bottom: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(21, 21, 88);
}

header h1 {
  font-size: 65px;
}
/*----------NAV-------------*/
.navbar { 
  background-color: rgb(87, 4, 87);
  background-image: url(./../Imagenes/assassins.jpg);
  background-image:device-width;
  background-position:top ;
  background-attachment: scroll;
  text-align: center;
  vertical-align: center;
  padding: 70px;

  padding-left: 5%;
  padding-right: -30%;
  margin-bottom: 5%;

  margin-top: 0%;
}

nav ul {
  vertical-align: center;
  margin-left: -3%;
  padding-left: 0;
  padding-top: 2%;
  margin-bottom: 2%;
  position: relative;
  display: flex;
}
nav li {
  text-decoration: none;
  display: inline-flex;
  position: relative;
}
nav li a {
  text-decoration: none;
  color: aquamarine;
  font-family: sans-serif;
  /*margin-right: 30px;*/
  margin-left: 30px;
  padding: 5px;
}
nav li a:hover {
  text-decoration: none;
}

nav button {
  margin: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10%;
  font-size: 20px;
  font-family: sans-serif;
  height: 55px;
  width: 85px;
}

/*-------SECTION----------------*/
section {
  color: rgb(21, 21, 88);
  padding-right: 1%;
  margin-left: 7%;
  margin-top: 1px;
  display: grid;
  position: relative;
  text-align: center;
}
section h6{text-decoration-line: underline;}

section p {
  background-color: aquamarine;
  margin-right: 0%;
  margin-left: 25%;

  width: 140px;
  text-align: center;
  padding-top: 40px;
  display: inline-block;
  padding-bottom: 10%;
  margin-top: 12%;
  margin-bottom: 5px;
}
section p a {
  text-decoration: none;
}
section p a:hover {
  text-decoration: none;
}
section table {
  border-bottom: aquamarine dotted 2px;
  border-left: aquamarine dotted 2px;
}

section table a:hover {
  text-decoration: none;
}

/*---------ASIDE--------------*/

aside {
  float: right;
  position: static;
  height: 500px;
  display: block;
  text-decoration: none;
  
  margin-top: 5px;

 
  width: 15%;
  padding: 3%;
  padding-bottom: 0px;
}
aside table {
  padding-top: 5%;
  /*padding-left: -5px;
    padding-right: -5px;*/
  height: 10px;
  background-color: rgb(87, 4, 87);
  border: 2px dotted rgb(21, 21, 88);
  text-align: center;
}
aside table a {
  color: aquamarine;
}
aside table a:hover {
  text-decoration: none;
}
aside table th {
  width: 10px;
  height: 110px;

  border: 1px solid;
  text-decoration: none;
  color: aquamarine;
  padding-top: 5%;
  padding-right: 20%;
}

/*----------FOOTER-------------*/

footer {
  background-image: url(./../Imagenes/assassins1.jpg);

  background-color: rgb(87, 4, 87);
  height: 40%;
  width: 100%;
  position: static;
  margin-top: 12%;
  padding: 1%;

  color: rgb(21, 21, 88);
  text-align: center;
}
footer table {
  display: block;
  margin-left: 1%;

  padding: 3%;
  color: aquamarine;
}
footer table th {
  padding: 3%;
  text-align: center;
  display: flex;
}
footer table th img {
  margin-right: 3%;
}

/*---------CLASES--------------*/
.tablaceleste {
  border-collapse: separate;
  border: blue 1px dotted;
  background: aquamarine;
  text-align: center;
}
.tablaceleste th {
  border: blue 1px dotted;
  color: rgb(21, 21, 88);
}
.tablaceleste td {
  border: blue 1px dotted;
  color: rgb(21, 21, 88);
}
.tablaceleste a {
  text-decoration: none;
}

.tablasectiondetalle {
  border-bottom: none;
}
.celdaimagendetalle {
  border: 2px dotted;
  color: aquamarine;
}

.linktexto {
  text-align: center;
  margin-right: 20%;
}

.form-group {
  padding-left: 12%;

  margin-top: 5%;
  margin-left: 12%;
}

.row button {
  margin-left: 22%;
}
.row h2 {
  margin-left: 20%;
}
.form-check-label {
  margin-left: 6%;
}
.row aside {
  float: right;
}
.iconosfooter {
  height: 30px;
}
.footercortos {
  margin-left: -10%;
  margin-right: -30%;
  padding: 6%;
  width: 120%;
  margin-top: 10%;
}

.footercortos #tablaaccesorapido {
  margin-top: -5%;
  margin-right: 20%;
  padding: 5%;
 
}
.footercortos #tablaaccesorapido th{ text-align: center;}
.footercortos #tabladatafiscalfooter {
  margin-top: -5%;
}
.footercortos #tablacontactofooter {
  margin-top: -5%;
  margin-left: 20%;
}
.imagendatafiscal {
    margin-left: 20%;
  }
  .navbar{background-image: ;}
  .imagen1producto{height: ;}

/*---------IDs---------------------------------*/
#tablaproducto{width:100% ;}

#tablaproducto #imagen1producto{width: 404px; height:442px;}
#tablaproducto #imagen2producto{width: 304px; height:442;}
#tablaproducto #imagen3producto{width: 404px; height:442px;}
#imagenindex {
  width: 604px;
  height: 642px;
  text-align: left;
  display: block;
}
#checkremeberme {
  margin-left: 6%;
}

#textoJuego {
  text-align: center;
  background-color: rgb(87, 4, 87);
  padding: 5%;
  margin-top: -2%;
  margin-bottom: -2%;
  margin-right: 5%;
  margin-left: 5%;

  color: aquamarine;
}

#textoJuego p {
  margin-left: -5%;
}
#textoJuego button {
  margin-left: -3%;
}

#tabladatafiscalfooter {
  float: right;
  display: block;
  padding: 3%;

  margin-top: 5%;

  color: rgb(21, 21, 88);
}
#tabladatafiscalfooter img {
  height: 60px;

  margin-right: 1%;
}
#tabladatafiscalfooter th {
  margin-top: 1%;
}

#textoRedes {
  padding-left: 90%;
}
#tablaaccesorapido {
  margin-left: 40%;
  display: block;

  color: black;
  margin-top: 5%;
  padding: 6%;
}
#tablaaccesorapido th {
  padding: 7px;
  text-align: center;
  display: block;
}
#tablaaccesorapido th a {
  color: black;
}
#tablaaccesorapido th a:hover {
  text-decoration: none;
  color: aquamarine;
}
#contactofooter {
  margin-top: 6%;
}

#tablaceldabotonesproducto {
  display: block;
  border: none;
  padding-top: 10px;
}
#tablaceldabotonesproducto th {
  padding-right: 30px;
  padding-left: 30px;
  
}
#btnregresardetalle {
  padding-right: 10%;
  margin-right: 30%;
}

#tablanuevosjuegos {
  border: 2px rgb(87, 4, 87) solid;
  background-color: aquamarine;
  margin-left: 1%;
  margin-top: 20%;
  margin-bottom: 20%;
  padding: 3px;
  display: block;
  width: 100%;
  height: 85%;


}
#tablanuevosjuegos caption {
  color: rgb(21, 21, 88);S
}
#tablanuevosjuegos th {
  
  padding: 2px;
}
#tablanuevosjuegos table tr {
  margin-top: 4%;
}
/*#tablanuevosjuegos table th {
  border: none;
  color: rgb(21, 21, 88);

  padding: 2px;
  text-align: left;
}*/

#titulotabla {
  text-align: center;
  color: rgb(21, 21, 88);
  background-color: aquamarine;
  padding: 1%;
  height: 10px;
  border: 2px rgb(87, 4, 87) solid;
}
#iniciarsesion{color:rgb(21, 21, 88);
margin-left: 22%;}



/*---------@query---------------------------------*/
@media screen and (max-width:768px){

  #tablanuevosjuegos {
  width: 89%;
  margin-left:-3%;
 }
 #tablanuevosjuegos img{ size: 10%;}

  .navbar{margin-right: -80%;
  }
  footer{margin-right: -75%;
  width:170%;
  padding-right: 85%;
}



aside{margin-right: 30%;
  margin-top:25%;
margin-left: 1%;}

  #tablaproducto{width:25% ;
  border-left:none;}
  #imagen1producto{width: 204px; height:242px;}
  #imagen2producto{width: 104px; height:142;}
  #imagen3producto{width: 204px; height:242px}
  #imagendetalle{width: 204px; height:242px}
  #tablaproducto{width: 10%; height: 10%;}
  
  .footercortos {margin-right: -80%;
    width:210%;
    padding-right: 85%;
    
  }

}
@media screen and (max-width:540px){ 
  #tablanuevosjuegos {
  width: 87%;
  margin-left:-3%;
 }
 #tablanuevosjuegos #imgproductos{width:5%}

#tabladetallesproducto {width: 50%;
margin-left:-20%;
padding-left: -5%;
}
#tabladetallesproducto #tablaceleste{width: 10px; height:300px;
margin-right: 50%;}


}
#imagen1producto{width: 200px; height:250px;}
#imagen2producto{width: 150px; height:200px;}
#imagen3producto{width: 150px; height:200px;;
margin-left: -10%;}

@media screen and (max-width:280px){ header h1{font-size:33px;
margin-left: 1%;
margin-bottom: 10%;
padding-right: 10%;}
.navbar{margin-top: 10%;}
  .navbar li {margin-left: 20%;} ;
  section{text-align: left;}
  section h6{text-align:left;
    font-size: 10px;
  float: left;}
  section table{width:90%;
    height: 90%;
  margin-bottom: 10%;}

  #imagenindex{width: 160px; height:30%;}
  
  #tablanuevosjuegos {width:100%;}
  #tablanuevosjuegos img{width: 30px; height:35px;}


}